.content {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  height: 120vh;
  text-align: center;
}

.content i {
  color: #949494;
}

.content h1 {
  color: #515151;
}

.content__date {
  width: 80%;
}

.content__date::before {
  border-top: 1px solid #eeeeee;
  display: block;
  position: relative;
  top: 50%;
  margin-right: calc(70%);
  width: calc(30%);
  content: "";
}

.content__date::after {
  border-top: 1px solid #eeeeee;
  display: block;
  position: relative;
  right: 0;
  top: -50%;
  margin-left: calc(70%);
  width: calc(30%);
  content: "";
  text-align: right;
}

.content iframe {
  width: 80%;
  height: 60%;
  max-width: "560";
  max-height: "315";
}

.content a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: #515151;
  font-size: 11pt;
  font-weight: 1000;
  border: 2px solid #515151;
  padding: 10px 40px;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
