.nav {
  height: 40px;
  background-color: #272d39;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  z-index: 100;
  left: 0;
  top: 0;
  align-items: center;
}

.nav__social a {
  padding: 5px;
  color: #fff;
}
