.post {
  width: 80vw;
  margin: 0 auto;
}

.post__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.postButton {
  border: none;
  padding: 20px;
  color: #fff;
  font-weight: 1000;
  font-size: 9pt;
  letter-spacing: 0.5px;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
}

.postButton--selected {
  background-color: #fff;
  color: #515151;
  outline: none;
}

.post__nav a {
  margin-right: 20px;
  color: #fff;
}
